h1 {
    color: rgb(92, 24, 24);
}

body {
    background-color: rgb(138, 225, 143);
}

html {
    text-align: center;
}

.dancing-script-4 {
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

#navbar {
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    width: 100%;
    list-style: none;
    padding: 15px;
    background-color: rgb(64, 147, 53);
    text-align: center;
    z-index: 100;
    border-bottom: 2px solid rgb(35, 99, 26);
}

#navbar li {
    display: inline;    
    text-align: center;
}

#navbar a {
    text-decoration: none;
    padding: 10px 15px;
}

#cool {
    border: 2px solid black;
    padding: 5px;
    margin-top: 60px;
    background-color: rgb(85, 203, 90);
}

#baktoshloog {
    color: rgb(25, 106, 124);
    border: 2px solid black;
    padding: 5px;
    border-radius: 10px;
    background-color: rgb(59, 174, 65);
}

#teedeeec {
    color: rgb(187, 11, 11);
    border: 2px solid black;
    padding: 5px;
    border-radius: 10px;
    background-color: rgb(59, 174, 65);
}

#hll {
    color: rgb(93, 17, 88);
    border: 2px solid black;
    padding: 5px;
    border-radius: 10px;
    background-color: rgb(59, 174, 65);
}

.containert {
    position: absolute;
    width: 300px;
    top: 10px;
    left: 10px;
    background-color: rgba(6, 78, 4, 0.178);   
    border-radius: 16px;
}

.containerh {
    position: absolute;
    width: 300px;
    right: 10px;
    top: 10px;
    background-color: rgba(6, 78, 4, 0.178);   
    border-radius: 16px;
}

.bigcontainer {
    position: relative;
    margin: auto;
    width: 650px;
    height: 400px;
}