html {
    text-align: center;
}
.shloog {
     background-color: rgb(243, 252, 255);
}
img {
    border-radius: 8px;
}
.dancing-script-4 {
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}